.modalMask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modalBody {
    width: 100%;
    max-width: 800px;
    background: #1d1d1d;
    border-radius: 5px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topic{
    width: 100%;
    padding-top: 10px;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.heading {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}


.closeButton {
    position: absolute;
    right: -25px;
    top: -20px;
    background: #b32209;;
    border: 1px solid #b32209;
    cursor: pointer;
}


.modalHeader {
    padding: 30px;
    border-bottom: 2px solid #262626;
}

.roomTypes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.typeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.typeBox.active {
    background: #262626;
}


.subHeading {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

.modalFooter {
    padding: 30px;
    text-align: center;
}
.modalFooter h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.footerButton {
    background: #20bd5f;
    color: #fff;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.footerButton:hover {
    background: #13763b;
}

.footerButton span {
    margin-left: 5px;
    font-weight: bold;
}



@media screen and (max-width: 700px) {
    .modalBody {
        width: 100%;
        max-width: 470px;
        background: #1d1d1d;
        border-radius: 5px;
        position: relative;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    

    .topic{
        width: 80%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .heading {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
        margin-left: -22px;
    }
    
}




@media screen and (max-width: 500px) {
    .modalBody {
        width: 100%;
        max-width: 370px;
        background: #1d1d1d;
        border-radius: 5px;
        position: relative;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    

    .topic{
        width: 80%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .heading {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
        margin-left: -22px;
    }
    
}




@media screen and (max-width: 450px) {
    .modalBody {
        width: 100%;
        max-width: 270px;
        background: #1d1d1d;
        border-radius: 5px;
        position: relative;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    

    .topic{
        width: 60%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
    
    .heading {
        width: 100%;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bold;
        margin-left: 8px;
    }

    .closeButton {
        position: absolute;
        right: -25px;
        top: -20px;
        background: #b32209;;
        border: 1px solid #b32209;
        cursor: pointer;
        width: 35px;
    }

    .roomTypes{
        gap: 10px;
    }
    
}